.react-tel-input input[type='text'],
.react-tel-input input[type='tel'] {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.01rem;
  z-index: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 48px;
  margin-left: 0;
  background: hsl(0, 0%, 100%) !important;
  border: 1px solid #cacaca;
  border-radius: 0px;
  line-height: 25px;
  height: 35px;
  width: 75%;
  outline: none;
  color: #939393;
}

.react-tel-input input[type='tel']:focus {
  color: #312b7f;
  border: 1px solid #312b7f;
}

.react-tel-input .flag-dropdown {
  border-radius: 0px;
  background: #ffffff;
}

.flag-dropdown:hover {
  border: 1px solid #312b7f;
}

.react-tel-input {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  position: relative;
  width: 100%;
}
