body,
html {
  height: 100%;
  margin: 0;
}

.bg-image {
  background-image: url('../../images/background-home.jpg');
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-radio {
  /* display: inline-block;
  position: relative;
  background-color: #939393;
  color: white;
  top: 7px;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px; */
}

.form-radio:checked::before {
  position: absolute;
  font: 13px/1 'Open Sans', sans-serif;
  left: 13px;
  top: 5px;
  content: '\02143';
  transform: rotate(40deg);
}

.form-radio:focus {
  outline-color: #312b7f;
}

.form-radio:hover {
  outline-color: #312b7f;
}

.error {
  border-color: red;
}

.no-error {
  border-color: none;
}

/* .form-radio:checked {
  background-color: #312b7f;
} */

/* .input-style {
  font-size: 15px;
  padding: 8px 15px;
  background-color: #939393;
  color: #edeae7;
  border: solid 1px green;
  border-color: #939393;
}

.input-style:hover {
  cursor: pointer;
  background-color: #312b7f;
  color: white;
}

.input-style:active {
  border: solid 1px green;
} */
