body,
html {
  height: 100%;
  margin: 0;
}

.bg-image {
  background-image: url('../../images/background-home.jpg');
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #939393;
  color: white;
  top: 7px;
  height: 20px;
  width: 20px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
}

.form-radio:checked::before {
  position: absolute;
  font: 13px/1 'Open Sans', sans-serif;
  left: 6px;
  top: 3px;
  content: '\02143';
  transform: rotate(40deg);
}

.form-radio:hover {
  background-color: #f7f7f7;
}

.form-radio:checked {
  background-color: #312b7f;
}

.input-style {
  font-size: 15px;
  padding: 8px 15px;
  background-color: #939393;
  outline: none;
  color: #edeae7;
  border: 0;
  border-color: #939393;
}

.input-style:hover {
  cursor: pointer;
  background-color: #312b7f;
  color: white;
  outline: none;
}

.input-style:active {
  outline: none;
  border: 0;
}
