.form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #939393;
  color: white;
  top: 7px;
  height: 20px;
  width: 20px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
}

.form-radio:checked::before {
  position: absolute;
  font: 13px/1 'Open Sans', sans-serif;
  left: 6px;
  top: 3px;
  content: '\02143';
  transform: rotate(40deg);
}

.form-radio:hover {
  background-color: #f7f7f7;
}

.form-radio:checked {
  background-color: #312b7f;
}

.dark-theme {
  --styled-select-menu-outer__font-family: 'Montserrat', sans-serif;
  --styled-select-menu-outer__margin: 10px 0 0 0;
  --styled-select-menu-outer__padding: 0;
  --styled-select-menu-outer__background-color: #555;
  --styled-select-menu-outer__border-color: #312b7f;
  --styled-select-menu-outer__border-style: solid;
  --styled-select-menu-outer__border-width: 1px;
  --styled-select-menu-outer__border-radius: 0px;

  --styled-select-control__border-color--focused: #312b7f;

  --styled-select-placeholder__font-family: 'Montserrat', sans-serif;
  --styled-select-placeholder__color: #939393;

  --styled-select-option__color: black;
  --styled-select-option__background-color: white;
  --styled-select-option__font-family: 'Montserrat', sans-serif;
  --styled-select-option__color--focused: white;
  --styled-select-option__background-color--focused: #312b7f;

  --styled-select-value-icon__background-color--hover: #312b7f;
  --styled-select-value-icon__color: white;

  --styled-select-value-label__color--focused: black;

  --styled-select-multi-value__background-color: #bfbfbf;
  --styled-select-multi-value__color: white;
  --styled-select-multi-value__border-radius: 0px;
}
